:root {
  --background: #111;
  --mainText: #eee;

  --tileHue: 0;
  --tileMineHue: 0;
  --tileFlaggedHue: 60;

  --tileSaturation: 00%;
  --tileMineSaturation: 90%;
  --tileFlaggedSaturation: 90%;

  --tileLightness: 20%;
  --tileHoverLightness: 30%;
  --tileUncoveredLightness: 10%;
  --tileUncoveredHoverLightness: 15%;
  --tileMarkedLightness: 50%;
  --tileMarkedHoverLightness: 70%;
  --tileActiveLightness: 50%;

  --v1: dodgerblue;
  --v2: lime;
  --v3: gold;
  --v4: crimson;
  --v5: darkorange;
  --v6: magenta;
  --v7: deeppink;
  --v8: wheat;
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #eee;
    --mainText: #111;

    --tileHue: 0;
    --tileMineHue: 0;
    --tileFlaggedHue: 50;

    --tileSaturation: 0%;
    --tileMineSaturation: 90%;
    --tileFlaggedSaturation: 90%;

    --tileLightness: 70%;
    --tileHoverLightness: 60%;
    --tileUncoveredLightness: 90%;
    --tileUncoveredHoverLightness: 85%;
    --tileMarkedLightness: 50%;
    --tileMarkedHoverLightness: 30%;
    --tileActiveLightness: 50%;
  }
}

html {
  font-family: sans-serif;
}
body {
  background-color: var(--background);
  color: var(--mainText);
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}
header {
  margin: 1em;
}
#grid {
  width: 80vmin;
  height: 80vmin;
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  gap: calc(6vmin / var(--grid-size));
}
.tile {
  --hue: var(--tileHue);
  --saturation: var(--tileSaturation);
  --lightness: var(--tileLightness);
}
.tile[data-uncovered] {
  --lightness: var(--tileUncoveredLightness);
}
.tile[data-mine] {
  --hue: var(--tileMineHue);
  --saturation: var(--tileMineSaturation);
  --lightness: var(--tileMarkedLightness);
}
.tile[data-flagged] {
  --hue: var(--tileFlaggedHue);
  --saturation: var(--tileFlaggedSaturation);
  --lightness: var(--tileMarkedLightness);
}
.tile:hover {
  --lightness: var(--tileHoverLightness);
  cursor: pointer;
}
.tile[data-uncovered]:hover {
  --lightness: var(--tileUncoveredHoverLightness);
}
.tile[data-mine]:hover,
.tile[data-flagged]:hover {
  --lightness: var(--tileMarkedHoverLightness);
}
.tile:active,
.tile[data-uncovered]:active {
  --lightness: var(--tileActiveLightness);
}

.tile {
  background-color: hsl(var(--hue), var(--saturation), var(--lightness));
  color: var(--mainText);
  font-size: calc(60vmin / var(--grid-size));
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
  transition: background-color 150ms ease-out;
}

.tile[data-mine]::before {
  color: var(--background);
  content: '#';
}
.tile[data-flagged]::before {
  color: var(--background);
  content: '?';
}

.tile[data-value='1'] {
  color: var(--v1);
}
.tile[data-value='2'] {
  color: var(--v2);
}
.tile[data-value='3'] {
  color: var(--v3);
}
.tile[data-value='4'] {
  color: var(--v4);
}
.tile[data-value='5'] {
  color: var(--v5);
}
.tile[data-value='6'] {
  color: var(--v6);
}
.tile[data-value='7'] {
  color: var(--v7);
}
.tile[data-value='8'] {
  color: var(--v8);
}
